/*IMPORTANDO LA FUENTE DEL PROYECTO*/

@font-face {
  font-family: OpenSansCustom;
  src: url(fonts/opensans/OpenSansCondensed-Bold.ttf);
}


/* estilos generales*/
* {
  text-decoration: none;
  font-family: OpenSansCustom;
  margin: 0px;
  padding: 0px;
}

 
/*ESTILOS DEL CONTAINER*/

.container-fluid{
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 15px;
  min-height: 80vh;
  background-color: #f0e2d0;
}


/*CABECERA*/

.img_logo{
  height: 110px;
  width: 110px;
 margin: 0px;
}


#logo {
  height: 54px;
  width: 80px;
  object-fit: cover;
}


h1 {
  color: #aa8976;
  align-content: center;
  text-align: center;
  font-family: OpenSansCustom;
  font-size: 45px;
}

/*FIN CABECERA*/





/*BARRA NAVEGACION*/
a:hover {
  color: #aa8976;
}


#menu_principal{
  background-color: #1d1c1c;
  height: 150px;
}


a {
  font-family: OpenSansCustom;
  font-weight: bold;
  text-decoration: none;
  color: #f0e2d0;
  font-size: 25px;
}


/*
.menu{
  margin-left: 250px;
  margin-top: 35px;
}*/



#menu_index{
  background-color: #1d1c1c;
 /* align-items: center;*/
  list-style: none;
  margin-top: 48px;
}



/* estilos de texto en pagina index */

.detalle {
  margin: 10px;
  color: #aa8976;
  align-content: center;
  text-align: center;
  font-family: OpenSansCustom;
  font-size: 25px;
}

.detalle li {
  text-decoration: none;
  list-style: none;
}


/*FORMULARIO*/

.formulario{
  margin-bottom: 40px;
}



/* FOOTER*/

#footer .autor {
  flex-basis: auto;
  flex-grow: 1;
  order: 1;
  text-align: left;
  margin-left: 10px;
}

#footer .info {
  flex-grow: 1;
  order: 2;
  margin-left: 20px;
  text-align: right;
  margin-right: 10px;
}

#footer_index{
  background-color:#1d1c1c;
  color: #f0e2d0;

}


#footer_index img{
  width: 55px;
}


h3 {
  color: #aa8976;
  font-size: 24px;
}

#footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 120px;
  align-items: center;
  box-shadow: 0px 0px 10px #ccc;
  background: linear-gradient(to right, #6fe7c3, #c6ebc9);
  margin-top: 30px;
  color: #aa8976;
  border: 1px solid #c6ebc9;
}


/*ESTILOS GALERIA DE IMAGENES*/
#galeria {
  display: flex;
  justify-content: left;
  width: 100%;
  flex-wrap: wrap;
  margin-left: 0px;
}

.imgs {
  flex-grow: 1;
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding: 5px;
  border-radius: 15px;
}

.imgs:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
#galeria {overflow:hidden;}


/*ESTILOS SLIDER DE IMAGENES*/
#slider {
  height: 80vh;
  overflow: hidden;
}

#slider img {
  height: 80vh;
  object-fit: cover;
}


/* ESTILOS A LA TABLA*/
.table {
  border: 1px solid #c6ebc9;
  margin-bottom: 75px;
}



/*RESPONSIVE MENU*/

/*desde 0 px hasta 1067 px se ejecutaran estos estilos*/

@media (max-width: 1067px) { 
  .menu{
    margin-top: 5px;
}
  #menu_index{
    margin-top: 30px;
  }
  iframe{
    width: 473px;
    height: 315px;
  }
 }


 
 @media (max-width: 1000px) { 
  .img_logo{
    height: 90px;
    width: 90px;
  }
 }

 
@media (max-width: 980px) { 
  iframe{
    width: 379px;
    height: 252px;
  }
 }


 @media (max-width: 574px) { 
  .menu{
      margin-top: 5px;
  }
 }


 
  @media (max-width: 494px) { 
  .menu{
    margin-top: 0px;
  }
  #menu_principal {
    height: 165px;
  }
  #menu_index{
    margin-top: 5px;
  }
  iframe{
    width: 425px;
    height: 268px;
  }
}


@media (max-width: 443px) { 
  iframe{
    width: 361px;
    height: 227px;
  }
 }

 
 @media (max-width: 377px) { 
  iframe{
    width: 247px;
    height: 156px;
  }   
 }






 





